@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&display=swap');

:root {
    --white: #ffffff;
    --green: #27694d;
    --yellow: #daa520;
    --red: #ef4444;
    --brown: #383129;
    --black: #2a2622;
    
    --title: #2b2622;
    --text: #7c736a;
    --border: #E7E2DA;

    --background: #f7f4ef;
    --card: #fcfaf7;
    --secondary: #eeebe4;
    --shadow: #c4b8a8;
    --favorite: #eaf0ed;
}